%h1 
  Watchlist
  %form
    %input.span12{'type' => 'text', 'ng-model' => 'newSymbol', 'placeholder' => 'Enter a symbol'}
    %input.span12{'type' => 'submit', 'value' => 'Add'}
    .row-fluid
      %p {{ newSymbol }}
